<p>Pizza Order <%= @pizza_order.id %><hr></p>

<table>
  <tr>
    <td>Name</td>
    <td>Qty</td>
    <td>Topping</td>
    <td>Price</td>
  </tr>
  <tr>
    <td><%= @pizza_order.pretty_name() %></td>
    <td><%= @pizza_order.quantity %></td>
    <td><%= @pizza_order.topping %></td>
    <td>£<%= @pizza_order.total() %></td>
  </tr>
</table>
